@tailwind base;
@tailwind components;
@tailwind utilities;



/* Fonts */
@font-face {
  font-family: 'Bazooka';
  src: url('@/assets/fonts/Bazooka.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Use Tailwind Utility Classes for `body` */
body {
  @apply bg-background-1 dark:bg-background-2 
 text-body-1  dark:text-body-2;
}
/* Body gradient */
/* body {
  @apply bg-gradient-to-r  from-gray-950 via-gray-950 to-gray-900 ;
} */

/* Important laayout*/
.chart-container {
  position: relative;
  width: 100%;
  height: 400px; /* Ensure the container has a defined height */

}
.container-component{
  @apply bg-container-1 dark:bg-container-2 rounded-lg shadow-lg 
}
.input-style{
  @apply mt-1 p-2 block w-full rounded-lg  bg-slate-400 border-gray-300 shadow-sm focus:border-lime-400 focus:ring focus:ring-lime-200 focus:ring-opacity-50;
}
.input-style::placeholder{
  @apply  text-sm font-medium italic   text-gray-800 dark:text-slate-800;
}
.input-dropdown-style{
  @apply mt-1 p-2 block w-full rounded-lg  bg-slate-900 border-gray-300 shadow-sm focus:border-lime-400 focus:ring focus:ring-lime-200 focus:ring-opacity-50;
}

/* Specific style for dropdowns (select elements) */
select.input-style {
  @apply rounded-lg bg-gray-800 dark:bg-blue-800 dark:text-white appearance-none pr-10;
}

.button-add{
  @apply font-medium shadow-sm px-4 py-2.5 rounded-lg text-gray-800 dark:text-white bg-green-400 hover:bg-green-500 dark:bg-lime-600 dark:hover:bg-lime-500 ;
}
.button-delete{
  @apply  font-medium shadow-sm px-4 py-2.5 rounded-lg text-gray-800 dark:text-white bg-red-400 hover:bg-blue-500 dark:bg-red-600 dark:hover:bg-red-500 ;
}
.button-blue{
  @apply  font-medium shadow-sm px-4 py-2.5 rounded-lg text-gray-800 dark:text-white bg-blue-400 hover:bg-blue-500 dark:bg-blue-600 dark:hover:bg-blue-500 ;
}

/* Styles */
.title-component{
  @apply text-lg font-semibold text-primary
}
.subtitle-component{
  @apply text-lg font-semibold text-violet-600 dark:text-violet-400;
}
.text-label{
  @apply font-bold text-indigo-900 dark:text-secondary;
}
.text-value{
  @apply font-bold text-gray-900 dark:text-gray-300;
}
.text-error{
  @apply font-bold text-red-700 dark:text-red-500 ;
}
.text-info{
  @apply font-bold text-blue-700 dark:text-blue-500 ;
}
.money-positive{
  @apply font-bold text-green-500 dark:text-green-400;
}
.money-negative{
  @apply font-bold text-red-500 dark:text-red-400;
}
.chart-title{
  @apply text-center text-xl font-bazooka text-cyan-500;
}
